@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: transparent;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    font-family: 'Roboto', sans-serif !important;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
    pointer-events: none;
}

#text{
    pointer-events: none;
    font-style: italic;
    /* line-height: 20px; */
}